.userForm{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  &__form{
    display: flex;
    position: relative;
    z-index: 10;
    flex-direction: column;
    color: #ffffff;
    align-items: flex-start;
    row-gap: 15px;
    input{
      font-size: 16px;
      color: #ffffff;
      border-radius: 5px;
      padding: 5px 10px;
      outline: none;
      border: none;
    }


    input:focus{
      background-color: #8774E1;
    }
    button{
      padding: 5px 15px;
      background-color: #8774E1;
      border-radius: 5px;
      color: #ffffff;
      border: none;
      font-size: 20px;
    }
  }
  .blackBack{
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    position: absolute;
    background-color: #00000080;
  }
}